.contact {
    position: relative;
    width: 63.3%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    z-index: 5;
}

.contact__article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 30%;
    
}

.contact__subtitle {
    margin-top: 50px;
    margin-bottom: 25px;
}

.contact__title {
    margin-bottom: 30px;
}

.contact__text {
    font-family: 'Mukta', sans-serif;
    margin-bottom: 30px;
}

.contact__image {
    display: flex;
    align-items: flex-end;
    width: 50%;
}