.history {
    width: 63.3%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;
}

.history__article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}

.history__subtitle {
    margin-bottom: 30px;
}

.history__title {
    font-family: 'Georama', sans-serif;
    font-size: larger;
    margin-bottom: 20px;
}

.history__text {
    margin-bottom: 50px;
}

.history__image {
    display: flex;
    align-items: flex-end;
    width: 40%;
}